@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{



--primary-font:  font-family: "Roboto", sans-serif;
--secondary-font:font-family: "Poppins", sans-serif;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
body{
    background-color: aqua;
}
.hero-section{
    width: 100%;
    min-height:100vh;
  background-image: url("../images/download_background.jpg"); 
background-size: cover;
}
    

.features {
  
}
.features .card-section{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.features .card-section .card{
    width: 396px;
    margin: 12px;
    padding: 16px;
    border: 5px solid gray;
    border-radius: 8px;


}
.features .card-section .card img{
    max-width: 90px;
    height: 60px;
    align-items: center;
    margin-top: 10px 10px;
}
.features .card-section .card .card-body p {
     margin-bottom: 8px;
}


.download-section{
    width: 100%;
     background-image: linear-gradient(rgba(137, 198, 245, 0.75), rgba(137, 198, 245, 0.75)) , url("images/download_background.jpg");
  
    background-position: center;
    background-size: cover;
}